{
  "rules": {
    "no-unused-vars": [
      1,
      {
        "args": "none"
      }
    ]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "mocha": true,
    "jquery": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  }
}
