<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/node_modules/purecss/build/pure-min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="root"></div>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
